body{
    background-color: black;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{

    text-align: center;
}


.header{
    color: white;
    font-size: 50px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-self: center;
    
}

.header1{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-justify: auto;
    justify-self: center;
}

