body{
    background-color: black;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{

    text-align: center;
}

body{

    font-size: 60px;
}

body{
    text-justify: auto;
}

body{

    list-style: armenian;
}

